default_install_hook_types: [pre-commit, post-checkout, post-commit, post-merge, post-rewrite]
default_stages: [manual, pre-commit]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-merge-conflict
    - id: check-added-large-files
    - id: check-toml
    - id: check-yaml
      args: [--unsafe]
    - id: check-json
    - id: end-of-file-fixer
    - id: trailing-whitespace
      exclude: ^tests/captured_data/PMS5003T.hexdump$
      args: [--markdown-linebreak-ext=md]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.10
  hooks:
    - id: ruff-check
    - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
  - id: mypy
    args: [--ignore-missing-imports, --no-warn-unused-ignores]
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.21
  hooks:
    - id: uv-lock
- repo: local
  hooks:
    - id: uv-sync
      name: update venv
      stages: [post-checkout, post-commit, post-merge, post-rewrite]
      entry: uv sync --all-extras --dev
      language: system
      always_run: true
      pass_filenames: false
