site_name: PyPMS
site_url: https://avaldebe.github.io/PyPMS
repo_url: https://github.com/avaldebe/PyPMS

theme:
  name: material
  features:
    - toc.integrate
  palette:
    - scheme: default
      primary: purple
      accent: deep purple
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      primary: deep purple
      accent: purple
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github


markdown_extensions:
  - admonition
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.tabbed
  - pymdownx.superfences
  - pymdownx.snippets:
      base_path: "tests/captured_data/"
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg


nav:
  - 'index.md'
  - Senors:
    - Plantower: 'sensors/Plantower.md'
    - NovaFitness: 'sensors/NovaFitness.md'
    - Honeywell: 'sensors/Honeywell.md'
    - Senserion: 'sensors/Senserion.md'
    - Winsen: 'sensors/Winsen.md'
    - Bosch Sensortec: 'sensors/mcu680.md'
  - 'library_usage.md'