[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "<=5.0.1"

[packages]
pyserial = ">=3.4"
paho-mqtt = ">=1.4.0"
influxdb = ">=5.2.0"
mypy-extensions = ">=0.4.0"
click = ">=7.0"

[requires]
python_version = "3.7"
