[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyserial = ">=3.4"
paho-mqtt = ">=1.4.0"
docopt = ">=0.6.2"
influxdb = ">=5.2.1"

[requires]
python_version = "3.7"
