name: New Package Version

on:
  push:
    branches: [main]
    tags: ["*.*.*"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"
      - name: Cache poetry
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/pypoetry
          key: ${{ runner.os }}-poetry-${{ hashFiles('pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-poetry-
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
      - name: Test package
        env:
          POETRY_VIRTUALENVS_IN_PROJECT: true
        run: |
          poetry install
          poetry run pytest
      - name: Package version vs Git tag
        run: |
          echo "SEM_VER=$(poetry version -s)" >> $GITHUB_ENV
          echo "GIT_TAG=$(git describe)"      >> $GITHUB_ENV
          test $SEM_VER = $GIT_TAG
